{% if show_error %}
    <h3>File is not valid, try again</h3>
{% endif %}

<form action="/upload" method="post" enctype="multipart/form-data">
    <label for="file_to_parse">Upload your file</label>
    <p><input id="file_to_parse" type="file" name="file_to_parse">
    <p>
        <button type="submit">Submit</button>
</form>


<script type="text/javascript">
        messengerScript = 'https://daily.ticketbird.com/chat/widget/?targetURL=' + window.location.protocol + '//' + window.location.host;
        messengerPage = 'https://daily.ticketbird.com';
    </script>
    <script type="text/javascript" src="https://daily.ticketbird.com/static/jsRactive/widget/loader/app-bundle.js?refresh=20180115"></script>